@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.shadow-bottom{
    box-shadow: 0 4px 2px -2px gray;
}

.bg-gray {
    background-color: #1e2124;
}